.wrapper {
  background: #091336;
  min-Width: 240px;
  min-Height: 100vh;

}

.container {
  position: fixed;
}

.logo{
  padding: 20px 12px 28px;
}

.buttonsBlock{
  padding: 64px 20px 0px;
}

.navBar{
  fill:white;
  fill-opacity:0.56;
}