//colors
$MAIN_COLOR:hsla(229, 100%, 49%, 1);

$DISABLED_COLOR:hsla(218, 44%, 78%, 1);
$ACTIVE_COLOR:#002CFB;
$HOVER_COLOR:#0024CB;

$TEXT_DISABLED_COLOR:hsla(212, 18%, 53%, 1);
$ICON_BACKGROUND:#F1F4F9;
$TEXT_PRIMARY:hsla(213, 59%, 17%, 1);
$ROW_HOVER:rgba(212, 223, 243, 0.17);
$ICON_BLUE_LIGHT:hsla(219, 81%, 92%, 0.56);

:export {
  MAIN_COLOR:$MAIN_COLOR;
  DISABLED_COLOR:$DISABLED_COLOR;
  ACTIVE_COLOR:$ACTIVE_COLOR;
  HOVER_COLOR:$HOVER_COLOR;
  TEXT_DISABLED_COLOR:$TEXT_DISABLED_COLOR;
}