.ArrowCell{
  margin-left: 6px;
}

.AvatarCell{
  img{
    height: 32px;
  }

}

.TimeCell{
  padding-left: 3px;
  p:nth-of-type(2){
    color:#71869D
  }
}

.ContactCell{
  margin-top: 2px;
  color: #5E7793;
}

.ScriptCell{

  color: #EA1A4F
}